//Button filled
.btn-individual {
  &.btn-primary {
    border-radius: 0;
    border-color: $primary-color;
    background-color: $primary-color;
  }

  &.btn {
    margin-bottom: 10px;
  }

  &.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
  }
}



//Button Products
.btn-product {
  &.btn-primary {
    margin-right: 30px;
    border-radius: 0;
    border-color: $secondary-color;
    background-color: $secondary-color;

    &:hover{
      background-color: white;
      border-color: $secondary-color;
      color: $secondary-color;
      .btn-label{
        color: $primary-color;
      }
    }
  }

  &.btn {
    margin-bottom: 10px;
  }

  &.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  .btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;

  }
}
