// Colors

$primary-color: #0511F2;
$primary-color-light: lighten(#0511F2, 10);  //#2f3afb
$primary-color-dark: darken(#0511F2, 10);  //040dc0

$primary-color-ext: #0511F2;
$primary-color-ext-light: lighten(#0511F2, 10);
$primary-color-ext-dark: darken(#0511F2, 10);

$secondary-color: #969696;
$secondary-color-light:lighten(#969696, 10);
$secondary-color-dark: darken(#969696, 10);

$tertiary-color: #3AA60C;
$tertiary-color-light:lighten(#3AA60C, 10);
$tertiary-color-dark: darken(#3AA60C, 10);

$background-light: #f5f5f5;
$background-grey: #E8E8E8;
$background-grey-dark: #9E9E9E;

$font-color: lighten(#000, 15);
$font-color-light: #5f656d;
$font-size: 1rem;

//height:

$navbar-height: 56px;
$carousel-heigth: 250px;
$footer-height: 200px;

.test1{
  color: $tertiary-color-light;
}