<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{bullets}">
	<f:for each="{bullets}" as="definitionListItem">
		<f:for each="{definitionListItem}" as="termDescription" iteration="termDescriptionIterator">
			<div class="col-lg-6">
			<f:if condition="{termDescriptionIterator.isFirst}">
				<f:then>
					<dt>{termDescription}</dt>
				</f:then>
				<f:else>
					<dd>{termDescription}</dd>
				</f:else>
			</f:if>
			</div>
		</f:for>
	</f:for>
</f:if>
</html>
