<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{bullets}">
    <div class="row mt-4">
        <div class="col-12">
            <ul class="symbol-enumeration d-flex justify-content-center">
                <div class="row">
                    <f:for each="{bullets}" as="bullet">
                        <div class="col-lg-6 align-self-center">
                            <li class="rotate">
                                <div class="row">
                                    <div class="col-sm-2 my-auto symbol-check">
                                        <svg class="hex" version="1.1" xmlns="http://www.w3.org/2000/svg" width="50"
                                             height="44"
                                             viewbox="0 0 50 43.30127018922193"
                                             style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 0px);">
                                            <path fill="#017e6a"
                                                  d="M0 21.650635094610966L12.5 0L37.5 0L50 21.650635094610966L37.5 43.30127018922193L12.5 43.30127018922193Z"></path>
                                        </svg>
                                    </div>
                                    <div class="col-sm-10 my-auto">
                                        {bullet}
                                    </div>
                                </div>
                            </li>
                        </div>
                    </f:for>
                </div>
            </ul>
        </div>
    </div>
</f:if>
</html>
