<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{bullets}">

    <div class="row mt-4">
        <ul class="ce-bullets arrow-right ">
            <f:for each="{bullets}" as="bullet">
                <li>{bullet}</li>
            </f:for>
        </ul>
    </div>
</f:if>
</html>
