<div class="header">

    <div class="top-nav">
        <div class="container">
            <div class="row d-flex justify-content-end">
                <div class="col-lg-4 text-left">
                    <a class="navbar-brand" href="#"><img src="fileadmin/templates/media/images/test/Demmar_Logo.jpg"
                                                          alt="Demmar Logo"/> </a>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="block-inner row align-items-center h-100">
                        <div class="block-left col-3 text-right">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="block-right col-9">
                            <h5>Telefon</h5>
                            <a href="tel:+498442968288-0">+49 8442 968288-0</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 text-center">
                    <div class="block-inner row align-items-center h-100">
                        <div class="block-left col-3 text-right">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="block-right col-9">
                            <h5>E-Mail</h5>
                            <a href="mailto:info@betonblock-demmar.de">info@betonblock-demmar.de</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 text-right">
                    <div class="language-icons">
                        <a href="#">en</a> | <a href="#">de</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">

            <a class="navbar-brand d-md-block d-lg-none" href="#">logoklein</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse h-100" id="navbarResponsive">
           <f:format.raw>{mainNav}</f:format.raw>
            </div>

        </nav>
    </div>
</div>