<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Ausschreibungen</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-5 mt-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    SCHNELL UND KOMPLETT
                </h3>
                <h2 class="h2-elementor">
                    Ihre Ausschreibungen
                </h2>
                <p class="p-elementor">
                    Wir arbeiten eng verzahnt mit unseren technischen Abteilungen, den Fachunternehmern und dem Handel.
                    Sie haben einen Ansprechpartner für alle Fragen rund um Ihr Bauvorhaben. So bleibt Ihnen mehr Zeit,
                    sich ganz auf das Wichtige zu konzentrieren: Ihre Kunden
                </p>
                <p>
                    Sie benötigen die passenden Texte für Ihre Ausschreibungen? Gerne senden wir Ihnen die aktuellen
                    Ausschreibungstexte zu. Bitte nehmen Sie hierfür mit uns Kontakt auf. Der zuständige Objektberater
                    übernimmt gerne die Erstellung der Ausschreibung für Sie.
                </p>
            </div>
        </div>
        <div class="col-12 mb-5 mt-1">

            <a href="tel:+498442968288-0">
                <button type="button" class="btn-individual mt-4 btn btn-labeled btn-primary">
                    <span class="btn-label"><i class="fas fa-phone"></i></span> +49 8442 968288-0
                </button>
            </a>
        </div>

        <!--        <div class="col-lg-4 my-auto px-5">
                    <div class="image-right">
                        <img src="fileadmin/templates/media/images/test/betonblocksteinv2.jpg" alt="Logo">
                    </div>
                </div>-->
    </div>
    <!-- Zweite Row Grey -->
</div>
