<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Produkte</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-5 mt-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Unser Produkt
                </h3>
                <h2 class="h2-elementor">
                    Der Betonblock hält Sie flexibel.
                </h2>
                <p class="p-elementor">
                    Im Gegensatz zu starren Systemen, die Sie bei betriebsbedingten Änderungen abreißen müssten, kann
                    der Betonblock für Sie eine enorme Kosteneinsparung bedeuten. Neben der schnellen Verbauung und
                    Installation einer Wand, eines Silos oder einer ganzen Halle lassen sich die Steine wieder trennen
                    und erneut in anderen Abmessungen aufstellen. Das System ist erweiterbar und reduziert Ihre Ausgaben
                    bei Betriebserweiterungen erheblich. Entsorgungsfirmen können bei geänderter Rechtslage zur Trennung
                    von Problemstoffen von üblichen Abfällen reagieren und Ihre Abfallbuchten erweitern oder
                    diversifizieren. Wenn ein Bauhof einer Gemeinde zu klein für die steigenden Bevölkerungszahlen wird,
                    kann ohne Zeitverlust die Anlage umgehen um weitere Fahrsilos oder eine größere Salzhalle erweitert
                    werden. Effizient kann im Garten- und Landschaftsbau mit großen Geräten gearbeitet werden. Fahrsilos
                    bieten eine saubere Möglichkeit die verschiedenen Betriebsmittel zu sortieren und dem Kunden
                    sortenrein und ohne Verunreinigungen zu liefern.
                </p>
            </div>
        </div>
        <div class="col-lg-4 my-auto px-5">
            <div class="image-right">
                <img src="fileadmin/templates/media/images/test/betonblocksteinv2.jpg" alt="Logo">
            </div>
        </div>
    </div>
    <!-- Zweite Row Grey -->
</div>
<div class="bg-image my-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 elementor-left mt-5">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Vielfältigkeit
                </h3>
                <h2 class="h2-elementor">
                    Unsere Betonblock-Systeme
                </h2>
                <p class="p-elementor">

                </p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-lg-12">
                <a href="#">
                    <button type="button" class="btn-product mt-4 btn btn-labeled btn-primary">
                        <span class="btn-label"><i class="fas fa-chevron-right"></i></span>DEMMEL MULTIBLOC-SYSTEM&reg;
                    </button>
                </a>
                <a href="#">
                    <button type="button" class="btn-product mt-4 btn btn-labeled btn-primary">
                        <span class="btn-label"><i class="fas fa-chevron-right"></i></span> Demmar Betonsteine&reg; 60cm
                    </button>
                </a>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-lg-12">
                <a href="#">
                    <button type="button" class="btn-product mt-4 btn btn-labeled btn-primary">
                        <span class="btn-label"><i class="fas fa-chevron-right"></i></span> Demmar Betonsteine heavy&reg;
                        80cm
                    </button>

                </a>

                <a href="#">
                    <button type="button" class="btn-product mt-4 btn btn-labeled btn-primary">
                        <span class="btn-label"><i class="fas fa-chevron-right"></i></span> Demmar Betonsteine TB
                    </button>

                </a>
            </div>
        </div>

    </div>
</div>
<!-- Dritte Row -->

<div class="container my-5 pros">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Warum unsere Betonsteine?
                </h3>
                <h2 class="h2-elementor">
                    Vorteile unserers Systems
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <ul>
                <li>
                    Je nach Bedarf ist keine Baugenehmigung notwendig
                </li>
                <li>
                    Keine Nut- Feder oder andere aufwendige Anpassungen (DEMMEL MULTIBLOC-System®)
                </li>
                <li>
                    Verwendung von gütesicherten Materialien
                </li>
                <li>
                    Hohe Stabilität durch Verbindungsstücke (DEMMEL MULTIBLOC-System®)
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li>
                    Aufbaumöglichkeit in Eigenleistung mittels Radlader oder Mobilbagger
                </li>
                <li>
                    Flexibles Rastersystem

                </li>
                <li>
                    Problemlos demontierbar z. B. bei Umzug auf andere Lagerflächen
                </li>
                <li>
                    Boxengröße und Boxenform können schnell an veränderten
                    Bedarf angepasst werden
                </li>
            </ul>
        </div>
    </div>
</div>

