<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Kontakt</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-5 mt-4">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <f:format.raw>{contentLeft}</f:format.raw>

            </div>
        </div>
        <div class="col-lg-6 mb-5 mt-4 px-5">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
            </div>
            <f:format.raw>{contentRight}</f:format.raw>
        </div>
    </div>
    <!-- Zweite Row Grey -->


</div>


<div class="page-wrapper mt-5">
    <div id="map"></div>
</div>



