<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Einsatzzwecke</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-5 mt-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    WOFÜR BETONSTEINE?
                </h3>
                <h2 class="h2-elementor">
                    Vielfältige Einsatzgebiete
                </h2>
                <p class="p-elementor">
                    Mit unseren Produkten lassen sich die Lösungen für Ihren Bedarf konstruieren. Ein Betonblock ist auf
                    Grund des Eigengewichts sehr gut in der Erstellung von flexiblen Mauern einsetzbar. Sollten sich
                    Ihre Anforderungen verändern kann sich auch Ihre Wand aus Betonsteine verändern. Neben
                    Schüttgutboxen und Trennwänden lassen sich auch Fahrsilos erstellen, die zusätzlich überdacht werden
                    können. Im Bereich der Gemeinden wären die Salzlager an dieser Stelle exemplarisch zu nennen.
                    Fahrsilos lassen sich mit dem Radlader bequem befahren. Das Gewicht des Schüttguts und die Kraft des
                    Laders halten die extrem stabilen Wände ohne Abstriche aus. Deshalb versteht es sich von selbst,
                    dass mit unserem System von Betonblock Demmar auch ein Anfahrschutz für sensible Bereiche aufgebaut
                    werden kann.</p>
            </div>
        </div>
    </div>
    <!-- Zweite Row -->
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="17">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/lagerhaltung.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Lagerhallen für Schüttgut</h4>
                    </div>
                </div>
            </f:link.page>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="22">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/trennwände.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Trennwände</h4>
                    </div>
                </div>
            </f:link.page>
        </div>

        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="21">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/schüttgutbox.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Schüttgutboxen</h4>
                    </div>
                </div>
            </f:link.page>
        </div>


        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="20">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/salzlagerhallen.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Salzlagerhallen</h4>
                    </div>
                </div>
            </f:link.page>
        </div>


        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="19">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/anfahrschutz.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Anfahrschutz / Betonboller</h4>
                    </div>
                </div>
            </f:link.page>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="18">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/hangabsicherung.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Hangabsicherung</h4>

                    </div>
                </div>
            </f:link.page>
        </div>
    </div>
</div>
