<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Projekte</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-5 mt-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Was haben wir bisher gemacht?
                </h3>
                <h2 class="h2-elementor">
                    Übersicht von Projekten der Demmar
                </h2>
                <p class="p-elementor">
                    Mit unseren Betonbausteinen von Demmar können wir unseren Kunden ein schnelles und flexibles
                    Bausystem bereitstellen, das sowohl für provisorische als dauerhafte Bauten geeignet ist. Dieses
                    extrem flexible Konzept wird für die verschiedensten Bauprojekte in ganz Europa verwendet.
                    Demmar Betonsteine findet man insbesondere in der Recyclingbranche, in der Verladeindustrie und in der
                    Landwirtschaft. Das Demmar-Baussytem hat sich als überaus praktisch für den Bau von
                    Schüttgutboxen und -hallen erwiesen, in den recycelbare Güter aufbewahrt und (Schütt-)gut getrennt
                    wird. Deswegen eignen sich die stapelbaren Betonblöcke hervorragend für Anschütt- und Abschubwände
                    bei Lärmschutzvorrichtungen, für Trennwände oder provisorische Stützmauern. Die Anti-Parkelemente
                    und Anfahrschutzblöcke versetzen Kommunalbehörden in die Lage, Zufahrtswege und Veranstaltungen
                    abzusperren.
                </p>
            </div>
        </div>
    </div>
    <!-- Zweite Row Grey -->
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="17">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/montageinderhalle.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Montage in einer Halle</h4>
                    </div>
                </div>
            </f:link.page>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="22">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/aussenbereiche.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Montage im Außenbereich</h4>
                    </div>
                </div>
            </f:link.page>
        </div>

        <div class="col-lg-4 col-md-6 mb-5 mt-4">
            <f:link.page pageUid="21">
                <div class="card"
                     style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/hallenbau.jpg)">
                    <div class="overlay">
                        <h4 class="title-overlay">Hallenbau</h4>
                    </div>
                </div>
            </f:link.page>
        </div>
    </div>


</div>

