<!-- Header -->
<header class="hero py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Betonblock Demmar</h1>
                <p class="lead mb-5">Hochwertige Bedftonblöcke aus Frischbeton!</p>
            </div>
        </div>
    </div>
</header>
<div class="startseite">
    <!-- Erste Rowt -->
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-5 mt-3">
                <div class="elementor-left">
                    <div class="divider-blue">
                        <div class="elementor-divider-blue">
                            <span class="divider-seperator"></span>
                        </div>
                    </div>
                    <h3 class="h3-elementor">
                        Was machen wir?
                    </h3>
                    <h2 class="h2-elementor">
                        Betonsteine für eine schnelle Lösung
                    </h2>
                    <p class="p-elementor">
                        In vielen Betriebszweigen fallen große Mengen an Schüttgut an. Neben Entsorgungsfirmen und
                        öffentlichen Einrichtungen der Stadtverwaltungen, kennen auch Gartenbaufirmen den großen Bedarf
                        an
                        schnell zu erstellenden Trennbereichen für verschiedene Schüttgüter im Innen- und
                        Außenbereich.<br>
                        Die Firma Betonblock Demmar bietet Ihnen hochwertige Betonsteine aus Bayern. Wir optimieren
                        Ihren
                        Lagerplatz schnell, flexibel und einfach. Lassen Sie sich von unserer Qualität überzeugen.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 my-auto px-5">
                <div class="logo-start">
                    <img src="fileadmin/templates/media/images/test/DemmarLogoSymbol.jpg" alt="Logo">
                </div>
            </div>
        </div>
        <!-- Zweite Row Grey -->
    </div>
    <div class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-12 elementor-center mt-5">
                    <div class="divider-blue">
                        <div class="elementor-divider-blue">
                            <span class="divider-seperator"></span>
                        </div>
                    </div>
                    <h3 class="h3-elementor">
                        Wofür Betonsteine?
                    </h3>
                    <h2 class="h2-elementor">
                        Vielfältige Einsatzgebiete
                    </h2>
                    <p class="p-elementor">
                        Mit unseren Produkten lassen sich die Lösungen für Ihren Bedarf konstruieren. Ein Betonblock ist
                        auf
                        Grund des Eigengewichts sehr gut in der Erstellung von flexiblen Mauern einsetzbar. Sollten sich
                        Ihre Anforderungen verändern kann sich auch Ihre Wand aus Betonsteine verändern. Neben
                        Schüttgutboxen und Trennwänden lassen sich auch Fahrsilos erstellen, die zusätzlich überdacht
                        werden
                        können.
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mt-4">
                    <div class="card"
                         style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/K1600_IMG_0095.jpg)">
                        <div class="overlay">
                            <h4 class="title-overlay">Entsorgunsfirmen Recycling</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mt-4">
                    <div class="card"
                         style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/stadtverwaltung.jpg)">
                        <div class="overlay">
                            <h4 class="title-overlay">Stadtverwaltung Gemeinden</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mt-4">
                    <div class="card"
                         style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/gartenbau.jpg)">
                        <div class="overlay">
                            <h4 class="title-overlay">Gartenbau Landschaftsbau</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mt-4">
                    <div class="card"
                         style="background-image: url(../../../../proto/fileadmin/templates/media/images/test/lagerhaltung.jpg)">
                        <div class="overlay">
                            <h4 class="title-overlay">Lagerhaltung optimieren</h4>

                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center mb-5">
                    <f:link.page pageUid="7">
                        <button type="button" class="btn-individual mt-4 btn btn-labeled btn-primary">
                            <span class="btn-label"><i class="fas fa-arrow-right"></i></span>Weitere Einsatzgebiete
                        </button>
                    </f:link.page>
                </div>
            </div>

        </div>
    </div>
    <!-- Dritte Row -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-5 mt-3">
                <div class="elementor-left">
                    <div class="divider-blue">
                        <div class="elementor-divider-blue">
                            <span class="divider-seperator"></span>
                        </div>
                    </div>
                    <h3 class="h3-elementor">
                        Wie machen wir es?
                    </h3>
                    <h2 class="h2-elementor">
                        Der Ablauf unserer Projekte
                    </h2>
                    <p class="p-elementor">

                    </p>
                </div>
            </div>
        </div>
        <div class="projekt-flow row">
            <div class="col-lg-2 my-3 align-self-center">
                <div class="icon-box ">
                    <span class="icon-color">
                        <div class="icon">
                             <i class="fas fa-map-marker-alt"></i>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-lg-10 my-3">
                <h4>Standortanalyse</h4>
                <p>Unternehmen, die ihre Lagerhaltung schnell und sicher optimieren wollen, sind bei Demmar an der
                    richtigen Adresse. Mit unseren flexiblen Betonblocklösungen realisieren wir die Konstruktion,
                    die Sie benötigen. Sobald Sie sich bei uns melden, kümmern wir uns um Ihr individuelles
                    Anliegen. Wir beraten unsere Kunden zu ihren spezifischen Vorstellungen. Dazu gehört auch die
                    Analyse des Standorts, an dem die Konstruktion aus Betonblock stehen wird. Dafür prüfen wir die
                    Gegebenheiten vor Ort genau. Ein stabiler Untergrund ist dabei wichtig. Ziel unserer Beratung
                    ist immer, für den Kunden die bestmögliche Lösung zu finden.</p>
            </div>
            <div class="col-lg-2 my-3 align-self-center">
                <div class="icon-box ">
                    <span class="icon-color">
                        <div class="icon">
                          <i class="fas fa-truck"></i>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-lg-10 my-3">
                <h4>Planung / Lieferung oder Produktion Vorort</h4>
                <p>Auf Basis aller Informationen planen wir die Umsetzung des Vorhabens. Dazu gehören die Prüfung der
                    Statik und ein korrekter Bauplan. Gleichzeitig prüfen wir, ob eine Lieferung aus einem unserer
                    Standorte oder eine direkte Produktion am Objektgelände sinnvoller ist.</p>
            </div>
            <div class="col-lg-2 my-3 align-self-center">
                <div class="icon-box ">
                    <span class="icon-color">
                        <div class="icon">
                             <i class="fas fa-tools"></i>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-lg-10 my-3">
                <h4>Aufbau</h4>
                <p>Wenn die Planung stimmt und alle Vorbereitungen erfolgt sind, beginnen wir mit dem Aufbau. Dafür
                    stapeln wir die Betonelemente aufeinander. Dieser Vorgang erfolgt direkt vom Fahrzeug aus - mithilfe
                    eines Hebekrans. Dabei ist es nicht notwendig, die einzelnen Blöcke mit einem zusätzlichen
                    Bindemittel wie Zement aneinander zu befestigen. Sie sind so konstruiert, dass die einzelnen Steine
                    perfekt ineinander passen und einen sicheren Halt geben.</p>
            </div>
            <div class="col-lg-2 my-3 align-self-center">
                <div class="icon-box ">
                    <span class="icon-color">
                        <div class="icon">
                             <i class="fas fa-check"></i>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-lg-10 my-3">
                <h4>Benutzung</h4>
                <p>Direkt nach der Errichtung des Betonblock-Systems können Unternehmen die Konstruktion nutzen. Die
                    robusten Bauteile sind feuerfest und mindern Lärm. Außerdem bleiben die Nutzer dieser Systeme
                    flexibel. Sie können Blöcke versetzen und die Steine erneut verwenden. Damit lassen sich Lager,
                    Schüttgutbox, Fahrsilo und Trennwände einfach auf neue Anforderungen anpassen.</p>
            </div>
        </div>
    </div>
    <div class="bg-counter my-5 py-3">
        <div class="container">
            <div class="row counter">
                <div class="col-lg-4 py-4 justify-content-center d-flex">
                    <div class="row">
                        <div class="left align-self-center">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="right">
                            <h5>8</h5>
                            <p>Jahre dabei</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-4 justify-content-center d-flex">
                    <div class="row">
                        <div class="left align-self-center">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <div class="right">
                            <h5>1114</h5>
                            <p>Abgeschlossene Projekte</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-4 justify-content-center d-flex">
                    <div class="row">
                        <div class="left align-self-center">
                            <i class="fas fa-cube"></i>
                        </div>
                        <div class="right">
                            <h5>206859</h5>
                            <p>Hergestellte Betonblöcke</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
