<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Unternehmen</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-5 mt-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Die Demmar GmbH
                </h3>
                <h2 class="h2-elementor">
                    Wir liefern Qualität - seit über 8 Jahren
                </h2>
                <p class="p-elementor">
                    Mit den hochwertigen Betonsteinen von Demmar erweitern Unternehmen in kürzester Zeit ihre
                    Lagerkapazitäten. Sie sind nutzbar für Trennwände, Überdachungen und als Unterbau für Maschinen und
                    Anlagen. Ebenso eignen sich die Mauern aus Betonblock für das Errichten von Lagerhallen,
                    Regallagern, Schüttgutboxen, Fahrsilos und Salzhallen.
                </p>
                <p>
                    Die Systeme lassen sich auch als gestalterische Elemente nutzen, etwa als Anfahrschutz. Für
                    Unternehmen, die mit Schüttgut arbeiten, bieten die flexiblen Systeme besonderen Nutzen. Denn die
                    stabilen Konstruktionen sorgen für die saubere räumliche Trennung unterschiedlicher Stoffe – und
                    ergänzen damit optimal die Lagerhaltungen bei Entsorgungsfirmen, Stadtverwaltungen sowie Garten- und
                    Landschaftsgärtnereien.
                </p>
                <p>
                    Mit unserer täglichen Produktionskapazität von bis zu 2000 Betonsteine beliefern wir über 50 mobile
                    Standorten in ganz Europa.
                </p>

            </div>
        </div>
    </div>
    <!-- Zweite Row Grey -->

</div>

<div class="bg-grey mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 elementor-center mt-5 ">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Wir helfen gerne weiter
                </h3>
                <h2 class="h2-elementor">
                    Benötigen Sie eine Lösung für Ihre Lagerprobleme?
                </h2>
                <p class="p-elementor">
                    Kontaktieren Sei und für mehr Informationen oder eine unverbindliche Beratung. Selbstverständlich
                    kommen wir gerne vorbei, um uns ein Bild von den Möglichkeiten vor Ort zu machen.
                </p>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col-md-3 mb-5 mt-4 d-flex justify-content-center">
                <a href="tel:+498442968288-0">
                    <button type="button" class="btn-individual mt-4 btn btn-labeled btn-primary">
                        <span class="btn-label"><i class="fas fa-phone"></i></span> +49 8442 968288-0
                    </button>
                </a>
            </div>
            <div class="col-md-3  mb-5 mt-4  d-flex justify-content-center">
                <f:link.page pageUid="10">
                    <button type="button" class="btn-individual mt-4 btn btn-labeled btn-primary">
                        <span class="btn-label"><i class="far fa-id-card"></i></span> Kontaktformular
                    </button>
                </f:link.page>
            </div>
        </div>
    </div>
</div>