<!-- Header -->
<header class="hero-unterseite py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Mobile Standorte</h1>
            </div>
        </div>
    </div>
</header>

<!-- Erste Rowt -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-5 mt-3">
            <div class="elementor-left">
                <div class="divider-blue">
                    <div class="elementor-divider-blue">
                        <span class="divider-seperator"></span>
                    </div>
                </div>
                <h3 class="h3-elementor">
                    Überall für Sie da
                </h3>
                <h2 class="h2-elementor">
                    Unsere mobilen Standorte - Europaweit
                </h2>
                <p class="p-elementor">
                    Unsere mobilen Standorte Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="col-lg-12 my-5">
            <div id="chartdiv"></div>
        </div>
<!--        <div class="col-lg-4 my-auto px-5">
            <div class="image-right">
                <img src="fileadmin/templates/media/images/test/betonblocksteinv2.jpg" alt="Logo">
            </div>
        </div>-->
    </div>
    <!-- Zweite Row Grey -->
</div>
