.footer {
  color: $background-grey;
  ul{
    li{
      list-style: none;
      i{
        opacity: 0.3;
        margin-right: 8px;
      }
      a{
        color: $background-grey !important;
        &:hover{
          color: $background-grey-dark !important;
        }
      }
    }
  }
  .socials {
    a {
      color: $background-grey;
      i:before {
        width: 100%;
        height: auto;
        font-size: 35px;
        color: $background-grey;
      }
    }
  }
}
