.header {
  height: 140px;

  .top-nav {
    background-color: white;
    height: 88px;
    color: $font-color;
    font-size: 14px;

    .navbar-brand {
      img {
        height: 88px;
        width: auto;
      }
    }

    .block-right {
      text-align: left;

      h5 {
        font-weight: 300;
        color: $primary-color;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }
    }

    .block-left {
      padding: 0;

      i {
        margin-right: 0;
        color: $primary-color;
        font-size: 30px;
      }
    }

    a {
      color: $font-color !important;
      font-size: 14px;

      &:hover {
        color: $secondary-color !important;
        text-decoration: none;
      }
    }

    .language-icons {
      margin-top: 5px;
    }

  }

  .navbar {
    margin-top: 15px;
    z-index: 100;
    height: 50px;

    &.bg-light {
      background-color: $secondary-color !important;
    }

    .navbar-nav {
      height: 100%;

      .nav-item {
        height: 100%;
        padding: 0 15px;

        &.active{
          a{
            border-bottom-style: solid;
            border-bottom-color: white;
            border-bottom-width: 4px;
            border-top-style: solid;
            border-top-color: transparent;
            border-top-width: 4px;
          }
        }

        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          margin-right: 10px;
        }

        &:hover {
          background-color: $primary-color;
          a{
            border-style: none;
          }
        }

        a {
          color: white !important;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          height: 100%;
          padding: 0;
          &:hover {
            color: white;
          }
        }
      }

      @media (min-width: 992px) {
        .dropdown-menu {
          border-right-style: none;
          border-left-style: none;
          border-radius: 0;
          margin-top: 0;
          padding-top: 15px;
          a{
            border-top-style: solid;
            border-top-color: $secondary-color-light;
            border-bottom-style: solid;
            border-bottom-color: $secondary-color-light;
            color: $secondary-color !important;
            padding: 7px 24px;
            &:hover{
              background-color: $primary-color;
              color: white !important;
            }
          }
        }
      }
    }

  }
}