html, body {
  color: $font-color !important;
  height: 100%;
}

body {

}


h1, h2, {
  text-transform: uppercase;

  p, a, li, i, span, label {
    font-size: inherit;
  }
}

h2, h3, h4, {
  color: $font-color;

  p, a, li, i, span, label {
    font-size: inherit;
  }
}


p, a, li, i, span, label {
  font-size: 1.05rem;
}


a {
  color: $primary-color-ext !important;

  &:hover {
    color: $primary-color-ext-dark !important;
    text-decoration: none !important;
  }
}


//SpecialElemente:


//Devider Elementor

.elementor-center {
  .divider-blue {
    .elementor-divider-blue {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 0;

      .divider-seperator {
        width: 20px;
        margin: 0 auto;
        display: inline-block;
        border-top: 2px solid $primary-color-ext;
      }
    }
  }

  .h3-elementor {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    line-height: 31.68px;
    letter-spacing: 0;
    color: $font-color-light
  }

  .h2-elementor {
    font-size: 34px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.334em;
    letter-spacing: 0;
    text-align: center;
    color: $primary-color;
  }

  .p-elementor {
    text-align: center;
  }

}

.elementor-left {
  .divider-blue {
    .elementor-divider-blue {
      text-align: left;
      padding-top: 5px;
      padding-bottom: 0px;

      .divider-seperator {
        width: 20px;
        margin: 0 auto;
        display: inline-block;
        border-top: 2px solid $primary-color-ext;
      }
    }
  }

  .h3-elementor {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.375rem;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    line-height: 31.68px;
    letter-spacing: 0;
    color: $font-color-light;
  }

  .h2-elementor {
    font-size: 34px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.334em;
    letter-spacing: 0;
    text-align: left;
    color: $primary-color;
  }

  .p-elementor {
    text-align: left;
  }

}




//Input Felder
input {
  border-radius: 0 !important;
}

textarea {
  border-radius: 0 !important;
}

.mx-auto {
  .arrow-right {
    padding-left: 0;
  }
}


//Listen
ul {

  &.arrow-right {
    list-style: none;
    font-size: 1.3em;

    li:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      color: $secondary-color;
      margin-right: 10px;
    }

    li {
      margin: 1.3em 0;
      font-size: 1em;
    }
  }

  &.symbol-enumeration {
    list-style: none;
    font-size: 1.3em;

    li {
      margin: 0.5em 0;
      font-size: 1em;
    }
  }
}

//Karte
#chartdiv {
  width: 100%;
  height: 500px;
}