/*!
 * Start Bootstrap - Busines Frontpage (https://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */


  .hero{
    background-image: url("../../../../proto/fileadmin/templates/media/images/test/betonwand-himmelv3.jpg");
    height: 60%;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;

    h1, p{
      color: white;
      text-shadow: 0px 0px 10px #262626;
      font-family: 'Open Sans', sans-serif !important;

    }
    p{
      opacity: 0.8;
    }
  }

.logo-start {
  img{
    width: 100%;
  }
}

.bg-grey{
  background-color: $background-light;
}


//Image Slide Overlay START

.image-overlay {
  display: block;
  width: 100%;
  height: auto;
}

.card{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(55,55,55,0.7);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 0.25rem;
}

.card:hover .overlay {
  bottom: 0;
  height: 190px;
}

.title-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

//Image Slide Overlay END

//Symbol Icons

.icon-box{
  text-align: center;
  span{
    text-align: center;
    background-color: $background-grey;
    display: inline-block;
    padding: 30px;
    border-radius: 80px;
    .icon{
      width: 50px;
      height: 50px;
      text-align: center;
      i{
        margin: 0;
        font-size: 50px;
        color: $primary-color;
      }
    }
  }
}

//Counter Symbols

.bg-counter{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../../../../proto/fileadmin/templates/media/images/test/graubetonv2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0;
}

.counter{
  color: $font-color;
  .left{
    i{
      font-size: 30px;
      margin-right: 20px;
    }
  }
  .right{
    h5{
      font-size: 30px;
      margin: 0;
      color: $primary-color;
    }
    p{
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}