.hero-unterseite{
  background-image: url("../../../../proto/fileadmin/templates/media/images/test/frischbetonv2.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0;


  h1, p{
    color: white;
    text-shadow: 0px 0px 10px #262626;
    font-family: 'Open Sans', sans-serif !important;

  }
  p{
    opacity: 0.8;
  }
}

.bg-image{
  background-image: linear-gradient(to right, rgba(230,230,230,1) 40%, rgba(0,0,0,0)), url("../../../../proto/fileadmin/templates/media/images/test/betonsteine-himmel.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pros{
  ul{
    li{
      margin: 10px 0;
    }
  }
}