<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Header">
    <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header/All" arguments="{_all}"/>
    </f:if>

    <f:if condition="{data.layout} == 1">
        <f:then>
            <div class="gallery-3 ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
                <f:if condition="{gallery.position.vertical} != 'below'">
                    <f:render partial="Media/VierSpalten" arguments="{_all}"/>
                </f:if>

                <f:if condition="{data.bodytext}">
                    <f:then>
                        <div class="ce-bodytext">
                            <f:if condition="{gallery.position.noWrap}">
                                <f:render partial="Header/All" arguments="{_all}"/>
                            </f:if>
                            <f:format.html>{data.bodytext}</f:format.html>
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{gallery.position.noWrap}">
                            <f:if condition="{data.header}">
                                <div class="ce-bodytext">
                                    <f:render partial="Header/All" arguments="{_all}"/>
                                </div>
                            </f:if>
                        </f:if>
                    </f:else>
                </f:if>

                <f:if condition="{gallery.position.vertical} == 'below'">
                    <f:render partial="Media/Gallery" arguments="{_all}"/>
                </f:if>
            </div>
        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>

<f:section name="Main">
    <f:if condition="{data.layout} != 1">
        <f:if condition="{data.imageorient} == 25">
            <f:then>
                <div class="ce-textpic  ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
                    <f:if condition="{gallery.position.vertical} != 'below'">
                        <f:render partial="Media/Gallery" arguments="{_all}"/>
                    </f:if>

                    <f:if condition="{data.bodytext}">
                        <f:then>
                            <div class="ce-bodytext">
                                <f:if condition="{gallery.position.noWrap}">
                                    <f:render partial="Header/All" arguments="{_all}"/>
                                </f:if>
                                <f:format.html>{data.bodytext}</f:format.html>
                            </div>
                        </f:then>
                        <f:else>
                            <f:if condition="{gallery.position.noWrap}">
                                <f:if condition="{data.header}">
                                    <div class="ce-bodytext">
                                        <f:render partial="Header/All" arguments="{_all}"/>
                                    </div>
                                </f:if>
                            </f:if>
                        </f:else>
                    </f:if>

                    <f:if condition="{gallery.position.vertical} == 'below'">
                        <f:render partial="Media/Gallery" arguments="{_all}"/>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="ce-textpic  ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
                    <f:if condition="{gallery.position.vertical} != 'below'">
                        <f:render partial="Media/Gallery" arguments="{_all}"/>
                    </f:if>

                    <f:if condition="{data.bodytext}">
                        <f:then>
                            <div class="ce-bodytext">
                                <f:if condition="{gallery.position.noWrap}">
                                    <f:render partial="Header/All" arguments="{_all}"/>
                                </f:if>
                                <f:format.html>{data.bodytext}</f:format.html>
                            </div>
                        </f:then>
                        <f:else>
                            <f:if condition="{gallery.position.noWrap}">
                                <f:if condition="{data.header}">
                                    <div class="ce-bodytext">
                                        <f:render partial="Header/All" arguments="{_all}"/>
                                    </div>
                                </f:if>
                            </f:if>
                        </f:else>
                    </f:if>

                    <f:if condition="{gallery.position.vertical} == 'below'">
                        <f:render partial="Media/Gallery" arguments="{_all}"/>
                    </f:if>
                </div>

            </f:else>

        </f:if>


    </f:if>
</f:section>
</html>
