<!-- Footer -->
<footer class="py-5 bg-dark footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-address">
                    <h5>Adresse</h5>
                    <p><strong>Demmar GmbH</strong></p>
                    <p>Bahnerberg 4d</p>
                    <p>D 85283 Wolnzach</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <f:link.page pageUid="10">Kontakt</f:link.page>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <f:link.page pageUid="10">Download</f:link.page>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <f:link.page pageUid="10">Impressum</f:link.page>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                        <f:link.page pageUid="10">Datenschutzerklärung</f:link.page>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>
                    Follow us!
                </h5>
                <div class="socials">
                    <a href="https://www.facebook.com" class="fb" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Newsletter</h5>
                <p>Abonnieren Sie unseren Newsletter, <br/> um immer auf dem neuesten Stand zu sein</p>

                <div class="input-group my-3 pr-md-5">
                    <input type="text" class="form-control" placeholder="E-Mail Adresse eingeben"
                           aria-label="E-Mail Adresse eingeben" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Anmelden</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
        </div>


    </div>
    <!-- /.container -->
</footer>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>-->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://code.jquery.com/jquery-3.4.0.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="fileadmin/templates/media/slick/slick/slick.min.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNsNzbCrFwgDN2MoHUu9zT9rKIt-xUJOs&callback=initMap">
</script>
